@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2d3748; /* Dark background color (matching your background) */
    border-radius: 10px; /* Optional: round the corners */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #1a202c; /* Darker background for the track */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
/* Tailwind CSS Toggle Slider */
.toggle-slider {
  appearance: none;
  width: 48px;
  height: 29px;
  background-color: #ccc;
  border-radius: 9999px;
  position: relative;
  transition: all 0.3s ease;
}

.toggle-slider:checked {
  background-color: #0b724f;
}

.toggle-slider:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.toggle-slider:checked:before {
  transform: translateX(20px);
}

/* Hover effect for the dropdown list items */
.claim-item:hover {
  background-color: rgba(139, 139, 139, 0.35);  /* Change background color on hover */
  cursor: pointer;            /* Add pointer cursor */
}